<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!--global styles-->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/alertify.core.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/alertify.bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/facebox.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/global.css') }}" />
        <!--block styles-->
        {% block stylesheets %}{% endblock %}

        <!--global JS-->
        <script src="{{ asset('assets/js/lib/jquery.js') }}"></script>
        <script src="{{ asset('assets/js/lib/bootstrap.js') }}"></script>
        <script src="{{ asset('assets/js/lib/alertify.js') }}"></script>
        <script src="{{ asset('assets/js/lib/facebox.js') }}"></script>
        <script src="{{ asset('assets/js/lib/livequery.js') }}"></script>
        <!--block JS-->
        {% block javascripts %}{% endblock %}

        <!--favicon-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        <!-- facebox paths -->
        <span class="hidden" id="fbox-closelabel">{{ asset('assets/img/facebox/closelabel.png') }}</span>
        <span class="hidden" id="fbox-loading">{{ asset('assets/img/facebox/loading.gif') }}</span>

    </head>
    <body>
        <div id="wrap">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>