{% extends 'KorpusMainPageBundle::layout.html.twig' %}

{% block currentpage %}kontakt{% endblock %}
{% block currentsubpage %}booking{% endblock %}

{% block title %}Korpus &middot; Kontakt &middot; Booking{% endblock %}

{% block content %}

{% include 'KorpusMainPageBundle::small-nav-kontakt.html.twig' %}

<br><br>
<strong>Alle Bookinganfragen richten sich bitte an:</strong><br>
<br>
<a href="mailto:sanz@korpus-metal.de">sanz@korpus-metal.de</a>
<br>
<br>
oder
<br>
<br>
<a href="https://www.facebook.com/korpusmetal">https://www.facebook.com/korpusmetal</a>
<br>
<br>
<strong>Ressourcen für Booker/Veranstalter</strong>
<br>
<br>
Gesamtpaket: <a href="{{ asset('dfiles/booking-res/Ressourcen.zip') }}">{{ asset('dfiles/booking-res/Ressourcen.zip') }}</a>
<hr>
# Foto 1
<br>
<br>
<img src="{{ asset('dfiles/booking-res/bandpic_1.jpg') }}" class="img-responsive img-thumbnail"/>
<hr>
# Foto 2
<br>
<br>
<img src="{{ asset('dfiles/booking-res/bandpic_2.jpg') }}" class="img-responsive img-thumbnail" />
<hr>
# Logo 1
<br>
<br>
<img src="{{ asset('dfiles/booking-res/logo_1.png') }}" class="img-responsive img-thumbnail"/>
<hr>
# Logo 2
<br>
<br>
<img src="{{ asset('dfiles/booking-res/logo_2.png') }}" class="img-responsive img-thumbnail"/>

{% endblock %}