{% extends 'KorpusMainPageBundle::layout.html.twig' %}

{% block currentpage %}live{% endblock %}
{% block currentsubpage %}events{% endblock %}

{% block title %}Korpus &middot; Events{% endblock %}

{% block content %}

{% include 'KorpusMainPageBundle::small-nav-live.html.twig' %}

<br>

{% if events_available == false %}
    <strong>Momentan keine Events verfügbar!</strong>
{% else %}

    {% for event in events %}
        <div class="media">
            <a class="pull-left" href="{{ path('korpus_events_show_event', {slug: event.slug}) }}">
                {% if event.flyer == null %}
                    {% set flyerThumb = 'http://placehold.it/64x64' %}
                {% else %}
                    {% set flyerThumb = path('korpus_file_server_images_object', {folder: event.flyer.folder, slug: event.flyer.slug, extension: event.flyer.type.extension, thumbnail: 'true', maxwidth: '64'}) %}
                {% endif %}
                
                <img class="media-object" src="{{flyerThumb}}" alt="...">
            </a>
            <div class="media-body">
                {% if event.facebookLink != null %}
                    <a target="_blank" href="{{event.facebookLink}}" class="btn btn-xs btn-info pull-right"><span class="glyphicon glyphicon-link"></span> Facebook Veranstaltung</a>
                {% endif %}
                <a href="{{ path('korpus_events_show_event', {slug: event.slug}) }}">
                    <h4 class="media-heading">{{event.title}} <span class="black-text"><strong><small>{{event.eventDate|date('d.m.Y, G:i')}}</small></strong></span></h4>
                </a>                    
                {{event.venue}} | {{event.city}}             
            </div>
        </div>
    {% endfor %}

{% endif %}

{% endblock %}