{% extends 'KorpusMainPageBundle::layout.html.twig' %}

{% block currentpage %}media{% endblock %}
{% block currentsubpage %}lyrics{% endblock %}

{% block title %}Korpus &middot; Media &middot; Lyrics{% endblock %}

{% block content %}

{% include 'KorpusMainPageBundle::small-nav-media.html.twig' %}

<br>
<div class="centered">
    
    <div id="bb-ebenbild" class="bb-bookblock">
        <div class="bb-item">
            <img src="{{ asset('dfiles/lyrics/ebenbild/1.jpg') }}">
        </div>
        <div class="bb-item">
            <img src="{{ asset('dfiles/lyrics/ebenbild/2.jpg') }}">
        </div>
        <div class="bb-item">
            <img src="{{ asset('dfiles/lyrics/ebenbild/3.jpg') }}">
        </div>
        <div class="bb-item">
            <img src="{{ asset('dfiles/lyrics/ebenbild/4.jpg') }}">
        </div>
        <div class="bb-item">
            <img src="{{ asset('dfiles/lyrics/ebenbild/5.jpg') }}">
        </div>
        <div class="bb-item">
            <img src="{{ asset('dfiles/lyrics/ebenbild/6.jpg') }}">
        </div>
        <div class="bb-item">
            <img src="{{ asset('dfiles/lyrics/ebenbild/7.jpg') }}">
        </div>
        <div class="bb-item">
            <img src="{{ asset('dfiles/lyrics/ebenbild/8.jpg') }}">
        </div>
        <div class="bb-item">
            <img src="{{ asset('dfiles/lyrics/ebenbild/9.jpg') }}">
        </div>
        <div class="bb-item">
            <img src="{{ asset('dfiles/lyrics/ebenbild/9.jpg') }}">
        </div>
        <div class="bb-item">
            <img src="{{ asset('dfiles/lyrics/ebenbild/10.jpg') }}">
        </div>
        <div class="bb-item">
            <img src="{{ asset('dfiles/lyrics/ebenbild/11.jpg') }}">
        </div>
    </div>
    
</div>

{% endblock %}