{% extends 'KorpusMainPageBundle::layout.html.twig' %}

{% block currentpage %}band{% endblock %}
{% block currentsubpage %}member{% endblock %}

{% block title %}Korpus &middot; Band &middot; {{member.nickname}}{% endblock %}

{% block content %}

{% include 'KorpusMainPageBundle::small-nav-band.html.twig' %}

<div>
    <div id="member">
        <img src="http://placehold.it/800x400" class="img-responsive img-thumbnail">
        <h2>{{member.nickname}}</h2>

        <table class="table table-responsive table-striped">
            <tr>
                <td><strong>Position:</strong></td><td>{{member.position}}</td>
            <tr>
                <td><strong>Equipment:</strong></td><td>{{member.equipment}}</td>
            </tr>
            <tr>
                <td><strong>Musik:</strong></td><td>{{member.musik}}</td>
            </tr>
            <tr>
                <td><strong>Interessen:</strong></td><td>{{member.interessen}}</td>
            </tr>
            <tr>
                <td><strong>Filme:</strong></td><td>{{member.filme}}</td>
            </tr>
            <tr>
                <td><strong>Bestes Album:</strong></td><td>{{member.bestesAlbum}}</td>
            </tr>
            <tr>
                <td><strong>Beste Band:</strong></td><td>{{member.besteBand}}</td>
            </tr>
            <tr>
                <td><strong>Lieblingsessen:</strong></td><td>{{member.lieblingsEssen}}</td>
            </tr>
            <tr>
                <td><strong>Bester Drink:</strong></td><td>{{member.besterDrink}}</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="centered">
        <span>
            <a href="{{ path('korpus_main_page_member', {name: 'Gastel'}) }}">Gastel</a> | 
            <a href="{{ path('korpus_main_page_member', {name: 'SanZ'}) }}">SanZ</a> | 
            <a href="{{ path('korpus_main_page_member', {name: 'Costen'}) }}">Costen</a> | 
            <a href="{{ path('korpus_main_page_member', {name: 'Flo'}) }}">Flo</a> | 
            <a href="{{ path('korpus_main_page_member', {name: 'Mag'}) }}">Mag</a>
        </span>
    </div>
</div>

{% endblock %}