{% extends 'KorpusMainPageBundle::layout.html.twig' %}

{% block currentpage %}news{% endblock %}

{% block title %}Korpus &middot; News &middot; {{newspost.title}}{% endblock %}

{% block content %}

<div class="news-post">
    <span class="headline">{{newspost.title}}</span>    
    <span class="pull-right"><span class="date">//{{newspost.publishDate|date("d.m.Y G:i")}}</span></span>
    <br><br>
    <p class="text">{{newspost.text|markdown}}</p>
</div>

{% if leftpost != null %}
    {% set leftlink = path('korpus_main_page_news_post', {day: leftpost.publishDate|date('d'), month: leftpost.publishDate|date('m'), year: leftpost.publishDate|date('Y'), slug: leftpost.slug}) %}
    {% set disabledprv = '' %}
{% else %}
    {% set leftlink = '#' %}
    {% set disabledprv = 'disabled' %}
{% endif %}

{% if rightpost != null %}
    {% set rightlink = path('korpus_main_page_news_post', {day: rightpost.publishDate|date('d'), month: rightpost.publishDate|date('m'), year: rightpost.publishDate|date('Y'), slug: rightpost.slug}) %}
    {% set disablednxt = '' %}
{% else %}
    {% set rightlink = '#' %}
    {% set disablednxt = 'disabled' %}
{% endif %}

<div class="row">
    <div class="col-lg-12">
        <ul class="pager">
            <li class="previous {{disabledprv}}"><a href="{{leftlink}}"><span class="glyphicon glyphicon-chevron-left"></span> Älter</a></li>
            <li class="next {{disablednxt}}"><a href="{{rightlink}}">Neuer <span class="glyphicon glyphicon-chevron-right"></span></a></li>
        </ul>
    </div>
</div>

<hr>

<div class="row">
    <div class="share-box col-lg-8 col-md-8">
        <input class="form-control hidden" type="text" value="{{ url('korpus_main_page_news_post', {day: newspost.publishDate|date('d'), month: newspost.publishDate|date('m'), year: newspost.publishDate|date('Y'), slug: newspost.slug}) }}" />
        <div class="facebook">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('korpus_main_page_news_post', {day: newspost.publishDate|date('d'), month: newspost.publishDate|date('m'), year: newspost.publishDate|date('Y'), slug: newspost.slug, source: 'fb'})|url_encode() }}" id="share-btn"><img src="{{ asset('assets/img/layout/facebook-icon.png') }}" style="height: 20px;"> Post auf Facebook Teilen</a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <a href="{{ path('korpus_main_page_news_list') }}"><span class="glyphicon glyphicon-align-justify"></span> Listenansicht</a>
    </div>
</div>

{% endblock %}