{% extends 'KorpusConsoleBundle::layout.html.twig' %}

{% block currentpage %}events{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ event.title }}
                <span class="label label-info">{{ reservations|length }} Reservierungen</span>
                <span class="label label-success">{{ tickets }} Tickets</span>
                <a href="{{ path('korpus_console_events_reservations_print', {id: event.id}) }}" target="_blank"><span class="pull-right glyphicon glyphicon-print"></span></a>
            </h3>
        </div>

        {% if reservations|length > 0 %}
            <table class="table">
                {% for res in reservations %}
                    <tr>
                        <td>{{ res.name }}</td>
                        <td>{{ res.email }}</td>
                        <td>{{ res.address }}</td>
                        <td>{{ res.amount }}</td>
                        <td>{{ res.creationDate|date('d.m.Y G:h:i') }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="panel-body">
                Es wurden noch keine Reservierungen vorgenommen!
            </div>
        {% endif %}
    </div>

{% endblock %}
