{% extends "KorpusEventsBundle::layout.html.twig" %}

{% block title %}{{event.title}}{% endblock %}

{% block content %}

<span class="hidden" id="slug">{{event.slug}}</span>

<style>
    body {
        background-image: url('{{ asset('assets/pages/korpusevents/summernight-inferno-2/img/background.jpg') }}');
        background-attachment: fixed;
    }
</style>

<script src="//use.edgefonts.net/source-sans-pro:n2,i2,n3,i3,n4,i4,n6,i6,n7,i7,n9,i9:all.js"></script>

<script type="text/x-handlebars" data-template-name="application">
<div class="container">
    <div class="col-lg-12 app-container">
        <div class="page">
            <div class="header">
                <img src="{{ asset('assets/pages/korpusevents/summernight-inferno-2/img/header.png') }}">
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="navigator">
                        {% raw %}{{#link-to 'info' class="nav-link"}}Info{{/link-to}}{% endraw %}
                        {% raw %}{{#link-to 'bands' class="nav-link"}}Bands{{/link-to}}{% endraw %}
                        {% raw %}{{#link-to 'reservierung' class="nav-link"}}Reservierung{{/link-to}}{% endraw %}
                        {% raw %}{{#link-to 'kontakt' class="nav-link"}}Kontakt{{/link-to}}{% endraw %}
                    </div>
                    <div class="content">{% raw %}{{outlet}}{% endraw %}</div>
                </div>
                <div class="col-lg-2">
                    <div class="sidebar">
                        <img class="img-responsive" src="{{ asset('assets/pages/korpusevents/summernight-inferno-2/img/icons/partner.png') }}">
                        <div class="partners">
                            <a href="http://www.skullcrusher-dresden.de/" target="blank">
                                <img class="img-responsive" src="{{ asset('assets/pages/korpusevents/summernight-inferno-2/img/icons/skull.png') }}">
                            </a>
                            <br>
                            <a href="http://www.evolution-of-metal.de/" target="blank">
                                <img class="img-responsive" src="{{ asset('assets/pages/korpusevents/summernight-inferno-2/img/icons/evo.png') }}">
                            </a>
                            <br>
                            <a href="http://www.sektor-evolution.de/" target="blank">
                                <img class="img-responsive" src="{{ asset('assets/pages/korpusevents/summernight-inferno-2/img/icons/sektor.png') }}">
                            </a>
                            <br>
                            <a href="" target="blank">
                                <img class="img-responsive" src="{{ asset('assets/pages/korpusevents/summernight-inferno-2/img/icons/ebmc.png') }}">
                            </a>
                            <br>
                            <a href="http://sprengies-world.de/" target="blank">
                                <img class="img-responsive" src="{{ asset('assets/pages/korpusevents/summernight-inferno-2/img/icons/sprengie.png') }}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-links">
        <hr>
        <span>
            <a href="{{ path('korpus_main_page_impressum') }}">Impressum</a> | 
            <a href="{{ path('korpus_main_page_datenschutz') }}">Datenschutz</a>
        </span>
    </div>
</div>
</script>

<script type="text/x-handlebars" data-template-name="info">
<div class="centered">
    <img src="{{ asset('assets/pages/korpusevents/summernight-inferno-2/img/index.png') }}">
</div>
</script>

<script type="text/x-handlebars" data-template-name="reservierung">
<div class="centered">
    <p class="greentext bold">
        Bitte fülle das folgende Formular aus, um Tickets für das SummernightInferno 2014 zu reservieren!
    </p>
</div>
<br>
<div class="row">
    <div class="formular col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            {# flash messages #}
            {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-info">{{flashMessage}}</div>
            {% endfor %}
            <div class="panel-body">
                <form role="form" id="form-reservate" method="post" action="{{ path('korpus_events_reservate', {slug: event.slug}) }}">
                    <div class="form-group">
                        <label for="input-name">Vorname & Name</label>
                        <input type="text" class="form-control" id="input-name" placeholder="Vorname & Name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="input-email">Email</label>
                        <input type="email" class="form-control" id="input-email" placeholder="Email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="input-amount">Anzahl Tickets</label>
                        <input type="number" class="form-control" id="input-amount" placeholder="Anzahl der Tickets" name="amount" required>
                    </div>
                    <div class="form-group">
                        <label for="input-address">Adresse</label>
                        <textarea rows="8" id="input-address" class="form-control" name="address" required></textarea>
                    </div>
                    <input type="hidden" value="{{ path('korpus_events_show_event', {slug: event.slug}) }}#/reservierung" name="referer"> 
                    <button type="submit" class="btn btn-success">Absenden</button>
                </form>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/x-handlebars" data-template-name="kontakt">
<div class="centered">
    <img src="{{ asset('assets/pages/korpusevents/summernight-inferno-2/img/anfahrt.jpg') }}">
</div>
</script>

{% endblock %}