{% extends 'KorpusConsoleBundle::layout.html.twig' %}

{% block currentpage %}dashboard{% endblock %}

{% block content %}

<h2>Console Dashboard</h2>
<br>
<div class="row">
    <div class="col-lg-6">
        <div class="well well-sm">
            <h3>News</h3>

            <table class="table teble-condensed table-striped table-responsive">
                <tr>
                    <th>Quelle</th>
                    <th>Post</th>
                    <th>Anzahl</th>
                </tr>
                {% for log in logs %}
                <tr>
                    <td>{{log.source}}</td>
                    <td>{{log.title}}</td>
                    <td>{{log.count}}</td>
                </tr>
                {% endfor %}
            </table>

        </div>
    </div>
    <div class="col-lg-6">
        <div class="well well-sm">
            <h3>Server</h3>

            <div class="serve-info">
                <h4>Speicherplatz</h4>
                <br>
                <h5>Drive '/'</h5>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%">
                        <span class="sr-only">{{percentage}}% Complete</span>
                    </div>
                </div>
                <strong>{{current_usage}}</strong>MB / <strong>{{max_size}}</strong>MB ~ <strong>{{free_space}}</strong>MB frei
            </div>
        </div>
    </div>
</div>

{% endblock %}