{% extends 'KorpusConsoleBundle::layout.html.twig' %}

{% form_theme form 'KorpusConsoleBundle:Form:fields.html.twig' %}

{% block currentpage %}cms{% endblock %}
{% block currentsubpage %}{{subpage}}{% endblock %}

{% block content %}

<ol class="breadcrumb">
    <li>CMS</li>
    <li><a href="{{backpath}}">{{pagename}}</a></li>
    <li class="active">Neu</li>
</ol>

<div class="row">
    <div class="col-lg-8">
        {{form(form)}}
        
        <hr>
        <!-- img upload form -->
        <h3>Flyer hinzufügen</h3>
        <form action="{{ path('korpus_console_file_upload', {folder: 'concerts'}) }}" method="post" target="" id="form-img-ipload">
            <div class="row">
                <div class="col-lg-6">
                    <input type="file" name="file" id="input-flyer" />
                </div>
                <div class="col-lg-6">
                    <button type="submit" class="pull-right">Hochladen</button>
                </div>
            </div>
        </form>
        <hr>
        <iframe name="upload-frame" class=""></iframe>
        <div class="" id="image-links"></div>
        <!--------------------->
    </div>
    <div class="col-lg-4">
        {% if subpage == 'news' or subpage == 'concert' %}
            {% include 'KorpusConsoleBundle:CMS:text_toolbox.html.twig' %}
        {% endif %}
    </div>
</div>

<br><br>

{% endblock %}