{% extends 'KorpusConsoleBundle::layout.html.twig' %}

{% form_theme form 'KorpusConsoleBundle:Form:fields.html.twig' %}

{% block currentpage %}cms{% endblock %}
{% block currentsubpage %}{{subpage}}{% endblock %}

{% block content %}

<ol class="breadcrumb">
    <li>CMS</li>
    <li><a href="{{backpath}}">{{pagename}}</a></li>
    <li class="active">Neu</li>
</ol>

<div class="row">
    <div class="col-lg-8">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.nickname) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.position) }}
            {{ form_row(form.equipment) }}
            {{ form_row(form.musik) }}
            {{ form_row(form.interessen) }}
            {{ form_row(form.filme) }}
            {{ form_row(form.bestesAlbum) }}
            {{ form_row(form.besteBand) }}
            {{ form_row(form.lieblingsEssen) }}
            {{ form_row(form.besterDrink) }}
            
            <input type="hidden" name="img_hash" value="" id="img-hash" />
            
        {{ form_end(form) }}
        
        <hr>
        {% include 'KorpusConsoleBundle:CMS:img-upload.html.twig' %}
    </div>
    <div class="col-lg-4">
    </div>
</div>

<br><br>

{% endblock %}