{% extends 'KorpusConsoleBundle::layout.html.twig' %}

{% form_theme form 'KorpusConsoleBundle:Form:fields.html.twig' %}

{% block currentpage %}cms{% endblock %}
{% block currentsubpage %}{{subpage}}{% endblock %}

{% block content %}

<ol class="breadcrumb">
    <li>CMS</li>
    <li><a href="{{backpath}}">{{pagename}}</a></li>
    <li class="active">Bearbeiten</li>
</ol>

<div class="row">
    <div class="col-lg-8">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.eventName) }}
            {{ form_row(form.venue) }}
            {{ form_row(form.city) }}
            {{ form_row(form.concertDate) }}
            {{ form_row(form.facebookLink) }}
            {{ form_row(form.info) }}
            
            <input type="hidden" name="img_hash" value="" id="img-hash" />
            
        {{ form_end(form) }}
        
        <hr>
        {% include 'KorpusConsoleBundle:CMS:img-upload.html.twig' %}
    </div>
    <div class="col-lg-4">
    {% if subpage == 'news' %}
        {% include 'KorpusConsoleBundle:CMS:text_toolbox.html.twig' %}
    {% endif %}
    </div>
</div>

{% endblock %}
